*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body, header, main, footer {
    max-width: 1800px;
    min-height: 50px;
    min-width: 450px;
}
/*encabezado*/
header{
    width: 100%;
    height: 157px;
    background:#f5eadb;
    position: fixed;
    z-index: 10;
}
.img_logo{
    width: 150px;
    margin-left: 5%;
    padding: 10px;
}
#nombre{
    font-family: 'Clicker Script', cursive;
    font-size: 4rem;
    font-weight: bold;
    position: fixed;
    color: #784b4a;
    margin-top: 50px;
    margin-left: 40px;
}

/* menues y submenues*/
.menu{
    width: auto;
    float: right;
    margin-top: 126px;
    margin-right: 5%;
}
.menu a{
    padding: 15px;
    text-decoration: none;
    color:#784b4a;
    font-size: 1rem;
    font-weight: bold;
}

.menu a:hover{
    color:rgb(239, 192, 159);
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li:hover ul{
    display: block;
    background-color:#f5eadb;
}

.menu ul li ul{
    top: 155px;
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 10px 5px;
}

#check{
    display: none;
}
.icon_menu{
    display: none;
}

#check:checked ~ .menu{
    height: 180px;
}

main{
    position: relative;
    top: 150px;
}

footer{
    text-align: center;
    width: 100%;
    height: 75px;
    background-color:  rgb(138, 107, 84);
}

/* ================ responsive ==============*/

@media screen and (max-width:1000px){
    .contenedor_texto h3{
        font-size: 4rem;
    }
    .contenedor_texto h4{
        font-size: 1.5rem;
    }
    .contenedor_portada{
        height: 300px;
        background-size: 250px;
    }
}
@media screen and (max-width:900px){
    .icon_menu{
        display: block;
        color: chocolate;
        float:right;
        padding: 3px;
        font-size: 24px;
        border: 1px solid #7a7a7a;
        border-radius: 5px;
        margin-top: 115px;
        margin-right: 10px;
    }
    .icon_menu:hover{
        background: rgb(240, 216, 171);
        cursor:pointer;
    }
    .menu{
        text-align: right;
        margin-top: 0px;
        margin-right: 0;
        width: 100%;
        height: 0px;
        overflow: hidden;
        *transition: all 300ms;
        background:rgb(245, 200, 118);
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li a{
        display: block;/*efecto ladrillo*/
        margin-right: 10px;
    }
}

@media screen and (max-width:850px){
    .contenedor_texto h3{
        font-size: 3rem;
    }
    .contenedor_texto h4{
        font-size: 1rem;
    }
    .contenedor_portada{
        height: 200px;
        background-size: 175px;
    }
    .contenedor_texto{
        width: 200px;
        margin: 2% 1%;
    }
}

@media screen and (max-width:600px){
    .img_logo{
        width: 120px;
        margin-left: 4%;
        padding: 8px;
    }
    #nombre{
        font-family: 'Clicker Script', cursive;
        font-size: 3rem;
        font-weight: bold;
        position: fixed;
        color: #784b4a;
        margin-top: 30px;
        margin-left: 8px;
    }
    header{
        width: 100%;
        height: 130px;
        background:rgb(245, 200, 118);
        position: fixed;/*para que se manenga arriba de todo*/
        z-index: 10;/*para todo lo que se ponga en la pagina quede abajo*/
    }
    .icon_menu{
        display: block;
        color: chocolate;
        float:right;
        padding: 3px;
        font-size: 18px;
        border: 1px solid #7a7a7a;
        border-radius: 5px;
        margin-top: 95px;
        margin-right: 10px;
    }
    .icon_menu:hover{
        background: rgb(240, 216, 171);
        cursor:pointer;
    }
    .menu{
        text-align: right;
        margin-top: 0px;
        width: 100%;
        height: 0px;
        overflow: hidden;
        background:rgb(245, 200, 118);
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li a{
        display: block;/*efecto ladrillo*/
        font-size: 14px;
    }
    #check:checked ~ .menu{
        height: 160px;
    }
    main{
        top: 125px;
    }
    .contenedor_texto{
        width: 175px;
        margin: 1% 0;
    }
    .contenedor_texto h3{
        font-size: 2.5rem;
    }
    .contenedor_texto h4{
        font-size: .75rem;
    }
    .contenedor_portada{
        height: 150px;
        background-size: 125px;
    }
   
}