<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

        <link
        rel="shortcut icon"
        href="favicom/VickyGurumiS.ico"
        type="image/x-icon"
      />
      <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Clicker+Script&family=Kanit:ital,wght@0,400;0,500;1,400&display=swap"
        rel="stylesheet"
      />
      <link rel="stylesheet" href="../../css/estilo.css" />
      <link rel="stylesheet" href="../../css/main_index.css" />
      <title>V i c k y G u r u m i S</title>
</head>

<body>
    <header>
        <img src="../../iconos/Gurumis.png" class="img_logo" alt=" logo" />
        <label for="campo_nombre" id="nombreE">Vicky GurumiS</label>
        <input type="checkbox" id="check" />
        <label for="check">
            <iconify-icon icon="material-symbols:menu" class="icon_menu"></iconify-icon>
        </label>
        <nav class="menu">
            <ul>
                <li><a href="../../index.html" >Inicio</a></li>
                <li><a href="../../info.html">Acerca de</a></li>
                <li><a href="productos.html" style="background: #e5c89f ; color:rgb(103, 100, 100)">Productos</a>
                    <ul>
                        <li><a href="#">Amigurumis</a>
                            <ul>
                                <li><a href="../../personajes.html">Personajes</a></li>
                                <li><a href="../../animales.html">Animales</a></li>
                                <li><a href="../../munequeria.html">Muñequería</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Patrones</a>
                            <ul>
                                <li><a href="../../patrones_free.html">Free</a></li>
                                <li><a href="../../patrones_de_pago.html">De_Pago</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="../../contacto.html">Contacto</a></li>
                <li><a href="../../carrito.html">Tienda</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <div id="app" class="container">
            <h1>Productos</h1>
            <br>
            <a class="btn btn-primary" href="producto_nuevo.html">Nuevo</a>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="" v-for="producto in productos">
                                    <td scope="row">{{producto.id}}</td>
                                    <td>{{producto.nombre}}</td>
                                    <td>{{producto.precio}}</td>
                                    <td>{{producto.stock}}</td>
                                    <td>
                                        <img width="60" :src="producto.imagen" :alt="producto.nombre">
                                    </td>
                                    <td>
                                        <a class="btn btn-primary"
                                            :href="'producto_update.html?id='+ producto.id">Editar</a>
                                        <button type="button" class="btn btn-danger"
                                            v-on:click="eliminar(producto.id)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>

        <footer>
            <p class="parrafo1">Derechos&Reservados 2023</p>
            <a href="https://www.instagram.com/vicky_gurumis/" target="_blank">
                <img src="../../img/Vicky_GurumiS.png" alt="Instagram" width="50" height="50" /></a>
        </footer>
        <script>
            <!--Link de Bootstrap-->
            src = "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity = "sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin = "anonymous"</script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
            crossorigin="anonymous"></script>
        <script src="../js/main.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
        <script src="../js/productos.js"></script>
    </main>
</body>

</html>