<!DOCTYPE html>
<html lang="Es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="favicom/VickyGurumiS.ico"
      type="image/x-icon"
    />
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Clicker+Script&family=Kanit:ital,wght@0,400;0,500;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/pablosturm.github.io/css/estilo.css" />
    <link rel="stylesheet" href="/pablosturm.github.io/css/main_index.css">
    
    <title>V i c k y G u r u m i S</title>
  </head>
  <body>
    <header>
      <img src="iconos/Gurumis.png" class="img_logo" alt=" logo" />
      <label for="campo_nombre" id="nombre">Vicky GurumiS</label>
      <input type="checkbox" id="check" />
      <label for="check">
        <iconify-icon
          icon="material-symbols:menu"
          class="icon_menu"
        ></iconify-icon>
      </label>
    <!--    <audio controls autoplay >
          <source src="audio/musica-relajante-dolphin.mp3" type="audio/mp3">
        </audio>             -->

      <nav class="menu">
        <ul>
          <li><a href="index.html" style="background: #e5c89f ; color:rgb(103, 100, 100)" >Inicio</a></li>
          <li><a href="info.html">Acerca de</a></li>
          <li><a href="#">Productos</a>
            <ul>
              <li><a href="#">Amigurumis</a>
                <ul>
                  <li><a href="personajes.html">Personajes</a></li>
                  <li><a href="animales.html">Animales</a></li>
                  <li><a href="munequeria.html">Muñequería</a></li>
                </ul>
              </li>
              <li><a href="#">Patrones</a>
                <ul>
                  <li><a href="patrones_free.html">Free</a></li>
                  <li><a href="patrones_de_pago.html">De_Pago</a></li>
                </ul>
              </li>
            </ul>
          <li><a href="contacto.html">Contacto</a></li>
          <li><a href="carrito.html">Tienda</a></li>
        </ul>  
      </nav>

    </header>

    <main>
      <div class="contenedor_ppal">
        <div class="contenedor_carrousel">
          <div class="contenedor_imagenes">
            <!-- Version 2-->
            <span style="--i:1;"><img src="img/Vicky_GurumiS.png" alt=""></span>
            <span style="--i:2;"><img src="img/personajes/chase.png" alt=""></span>
            <span style="--i:3;"><img src="patrones/depago/sarahk.png" alt=""></span>
            <span style="--i:4;"><img src="patrones/depago/messi(2).png" alt=""></span>
            <span style="--i:5;"><img src="img/personajes/principes.png" alt=""></span>
            <span style="--i:6;"><img src="img/personajes/frida.png" alt=""></span>
            <span style="--i:7;"><img src="img/personajes/zenon.png" alt=""></span>
            <span style="--i:8;"><img src="img/muñecas/munecadulce.png" alt=""></span>
          </div>
        </div>
        <div class="contenedor_portada">
          <div class="contenedor_texto">
           <h3>Tienda de Amigurumis y Patrones para crearlos</h3>
          </div>
        </div>
      </div>
        <div class="contenedor_detalle">
          <div class="item">
            <label class="">
              <iconify-icon
                icon="mdi:teddy-bear"
                style="color:rgb(108, 76, 60)"
                width="40"
              ></iconify-icon>
              <h4>Amigurumis</h4>
              <p>
                Los <strong> Amigurumis </strong> son peluches de apego. La palabra es un acrónimo de dos términos
              japoneses: ami, que significa tejido; y nuigurumi, o muñeco de peluche.
              Según la tradición japonesa, los Amigurumis son más que “simples peluches” ya que persiguen alimentar el
              espíritu del niño que todos llevamos dentro. Cada Amigurumi posee un alma, el cual nos acompañará y será
              nuestro amigo y confidente de por vida. Proporciona protección y consuelo.
              </p>
            </label>
          </div>
          <div class="item">
            <label class="">
              <iconify-icon
                icon="mdi:cards-heart"
                style="color:  rgb(200, 160, 201)"
                width="40"
              ></iconify-icon>
              <h4>Diseños</h4>
              <p>
                En <strong>"Vicky GurumiS" </strong> te ofrecemos diseños exclusivos, basados en patrones propios y también de reconocidas diseñadoras, pero siempre con el toque especial y original de <strong>"Vicky GurumiS"</strong> . No vas a encontrar dos diseños iguales, con esto te garantizamos un<strong> Amigurumi Exclusivo</strong>.
              </p>
            </label>
          </div>
          <div class="item">
            <label class="">
              <iconify-icon
                icon="game-icons:yarn" 
                style="color: rgb(87, 81, 77)"
                width="40"
              ></iconify-icon>
              <h4>Patrones</h4>
              <p>
                Aquí podrás acceder a patrones de <strong>"Vicky GurumiS"</strong> para que puedas recrear tus propias
              versiones basadas en mis diseños.
              Los Amigurumis son piezas emocionales modeladas por quien las crea. Al infundirles los sentimientos de la
              persona que los teje, es como si cobraran vida.
              Estos muñecos se realizan mediante técnicas de crochet o ganchillo.
              Permite crear de manera ilimitada personajes, animales, imitar objetos de la vida real, pero con un toque
              blandito y adorable.
              </p>
            </label>
          </div>
        </div>
    
      <footer>
        <p class="parrafo1">Derechos&Reservados 2023</p>
        <a href="https://www.instagram.com/vicky_gurumis/" target="_blank">
          <img src="img/Vicky_GurumiS.png" alt="Instagram" width="50" height="50" /></a>
      </footer>
    </main> 
  </body>
</html>